/* MAIN */

.main-block__products {
    padding-bottom: 150px;
}


/* button {
    position: absolute;
    width: 42px;
    height: 42px;
    background-image: url('/images/Loop.svg');
    background-size: cover;
    border: none;
    top: 0;
    right: 0;
}

button:before {
    content: "";
    color: #324b4e;
} */

@media (min-width: 768px) {
    .main-block {
        margin-top: 112px;
        margin-bottom: 100px;
    }
    .main-block__products {
        padding: 150px 0;
    }
    .products__list {
        display: flex;
        flex-wrap: wrap;
    }
}