.products__item {
    padding: 0 16px;
}

.products__item:not(:last-of-type) {
    margin-bottom: 32px;
}

.products__item-block {
    position: relative;
    height: 421px;
    /* border-radius: 35px; */
}

.products__item-image__wrapper {
    width: 100%;
    height: 100%;
}

.products__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

.products__item-discount {
    position: absolute;
    width: 81px;
    top: 18px;
    left: 18px;
    padding: 20px 10px;
    background-color: var(--black);
    border-radius: 24px;
}

.products__item-discount-procents {
    text-align: right;
    font-weight: 700;
    font-size: 24px;
}

.products__item-discount-desc {
    font-weight: 300;
    font-size: 14px;
    color: var(--grey);
}

.products__item-discount-desc p {
    word-wrap: break-word;
}

.products__item-name {
    position: absolute;
    bottom: 24px;
    left: 32px;
}

.products__item-name-title {
    font-weight: 700;
    font-size: 24px;
}

.products__item-name-desc {
    font-weight: 300;
    font-size: 18px;
    color: var(--grey);
}

.products__item-title {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 25px;
}

@media (min-width: 768px) {
    .products__item {
        width: 45%;
        max-width: 363px;
        padding: 0 16px;
        border-radius: 45px;
    }
}