/* HEADER */

.header-wrapper {
    padding: 32px 0;
}

.header-wrapper__top {
    display: flex;
    margin-bottom: 49px;
}

.header-teaser__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.header-teaser__date {
    font-weight: 300;
    font-size: 18px;
    color: var(--grey);
}

.header-wrapper__logo {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
}

.header-menu__list {
    display: flex;
    padding-bottom: 8px;
    width: 100%;
    overflow-x: auto;
    scrollbar-color: var(--violet) var(--lite_white);
    scrollbar-width: thin;
}

.header-menu__list::-webkit-scrollbar {
    height: 8px;
    background-color: var(--dark_blue);
}

.header-menu__item {
    /* border: 1px solid transparent;
    border-radius: 32px; */
    list-style-type: none;
}

.header-menu__link:hover {
    color: var(--grey);
}

.header-menu__link {
    border: 1px solid transparent;
    display: block;
    padding: 10px 20px;
    font-size: 18px;
}

.active {
    border-color: var(--grey);
    border-radius: 32px;
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background: linear-gradient(180deg, #201f2e 80%, rgba(32, 31, 46, 0));
        z-index: 2;
    }
}