.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--black);
    border-radius: 32px 32px 0 0;
    padding: 24px 0;
    margin-top: auto;
    z-index: 2;
}

.search {
    background-color: var(--dark_grey);
    color: var(--grey);
    border: 0;
    border-radius: 32px;
    padding: 13px 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    width: 101px;
    transition: 0.4s;
}

.search:focus,
.search:focus-visible {
    width: 100%;
    outline: 0;
}