:root {
    --grey: #C4C1CF;
    --white: #FFFFFF;
    --lite_white: #e0e0e0;
    --black: #0E0D13;
    --background_black: #201F2E;
    --background_pink: #843465;
    --dark_grey: #44414E;
    --dark_blue: #143861;
    --violet: #6969dd;
}